.pricingTable{
    color:#fff;
    background: linear-gradient(45deg,#fff,#ED603520,#fff,#ED603520);
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    padding: 30px 20px;
    border-radius: 50px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.1);
}
.pricingTable .pricingTable-header{ margin: 0 auto 20px; }
.pricingTable .price-value{
    color:#888;
    margin: 0 0 15px; 
}
.pricingTable .price-value .amount{
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 5px;
}
.pricingTable .price-value .duration{
    font-size: 20px;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
}
.pricingTable .title{
    color: #fff;
    background-color: #ED6035;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 11px 10px 9px;
    margin: 0;
    border-radius: 50px;
}
.pricingTable .pricing-content{
    background-color: #eee;
    padding: 20px 15px;
    margin: 0 0 20px;
    list-style: none;
    border-radius: 30px;
    box-shadow: 0 0 25px -8px rgba(0,0,0,0.2);
    position: relative;
}
.pricingTable .pricing-content li{
    color:#888;
    font-size: 17px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 0 15px;
}
.pricingTable .pricing-content li:last-child{ margin: 0; }
.pricingTable .pricingTable-signup a{
    color: #fff;
    background: #888;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    padding: 10px 25px;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease;
}
.pricingTable .pricingTable-signup a:hover{ 
    color: #fff; 
    background: #ED6035;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.pricingTable.yellow{
    background: linear-gradient(45deg,#fff,#EBA52120,#fff,#EBA52120);
}
.pricingTable.yellow .title{ background: #EBA521; }
.pricingTable.yellow .pricingTable-signup a:hover{ background: #EBA521; }
.pricingTable.blue{
    background: linear-gradient(45deg,#fff,#2AB9C920,#fff,#2AB9C920);
}
.pricingTable.blue .title{ background: #2AB9C9; }
.pricingTable.blue .pricingTable-signup a:hover{ background: #2AB9C9; }
@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 40px; }
}

