{% extends 'base.html' %}
{% block title %}Booknow{% endblock title %}
{% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}
    {% block links %}rel="stylesheet" href="{% static 'styles.css' %}"{% endblock links %}
{% block body %}
<form method="post" actions="/booknow"> 
{% csrf_token %}
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form">
            <div class="form-header"><h1>Make your reservation</h1></div>
            <form>
              <div class="form-group">
                <input
                  id = "country-zip"
                  name = "country-zip"
                  class="form-control"
                  type="text"
                  placeholder="Country, ZIP, city..."
                />
                <span class="form-label">Destination</span>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="checkin" name="checkin" type="date" required />
                    <span class="form-label">Check In</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="checkout" name="checkout" type="date" required />
                    <span class="form-label">Check out</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <select class="form-control" required>
                      <option value="" id="rooms" name="rooms" selected hidden>no of rooms</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                    <span class="select-arrow"></span>
                    <span class="form-label">Rooms</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <select class="form-control" required>
                      <option value="" id ="adults" name="adults" selected hidden>no of adults</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                    <span class="select-arrow"></span>
                    <span class="form-label">Adults</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <select class="form-control" required>
                      <option value="" id="children" name="children" selected hidden>no of children</option>
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                    <span class="select-arrow"></span>
                    <span class="form-label">Children</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="email"
                      id="email"
                      name="email"
                      placeholder="Enter your Email"
                    />
                    <span class="form-label">Email</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="tel"
                      id="phonenumber"
                      name="phonenumber"
                      placeholder="Enter you Phone"
                    />
                    <span class="form-label">Phone</span>
                  </div>
                </div>
              </div>
              <div class="form-btn">
                <button class="submit-btn">Book Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock body %}
